<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<h4> Polityka prywatności - RODO</h4><br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony os&oacute;b fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/ 46/WE (og&oacute;lne rozporządzenie o ochronie danych) informujemy, że:<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; I. &nbsp; &nbsp;Administratorem danych osobowych Emode jest firma Eprog zarejestrowana w 05-502 Gołków ul. Gołkowska 87B. Z Emode  można się kontaktować pod adresem kontakt@emode.pl, w tym w zakresie zgłaszania ewentualnych żądań lub praw wynikających z niniejszych informacji.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; II &nbsp; &nbsp; Dane osobowe będą:<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1. &nbsp; &nbsp; przetwarzane w celach związanych z realizacją Umowy, nadzorem nad jej wykonaniem, prawidłowym rozstrzyganiem i dochodzeniem roszczeń.<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2. &nbsp; &nbsp; przechowywane przez okres wykonywania Umowy, a następnie przez okres wynikający z ustaw regulujących rozliczenia w obrocie gospodarczym, przedawnienie roszczeń oraz do czasu zakończenia postępowań cywilnych, egzekucyjnych, administracyjnych i karnych wymagających przetwarzania danych. Najdłuższy z wyznaczonych termin&oacute;w wynosi 5 lat od zakończenia roku obrachunkowego.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; III. Podstawą prawną przetwarzania danych osobowych jest art. 6 ust. 1 lit. b, c i f Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony os&oacute;b fizycznych w związku z przetwarzaniem danych osobowych danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (og&oacute;lne rozporządzenie o ochronie danych), gdzie: art. 6 ust. 1 lit. b &ndash; przetwarzanie danych jest niezbędne do wykonania Umowy, art. 6 ust. 1 lit. c &ndash;przetwarzanie jest niezbędne do wypełnienia obowiązku prawnego związanego z rozliczaniem i przechowywaniem dokumentacji księgowej i podatkowej, art. 6 ust. 1 lit. f &ndash; w przypadku gdy prawnie uzasadnionym interesem administratora jest możliwość bieżącego kontaktu w sprawach związanych z realizacją Umowy oraz ochrona przed ewentualnymi roszczenia wynikające z Umowy.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; IV. Kategorie przetwarzanych danych: token autoryzacyjny, dane firmowe, dane fakturowe, adres IP.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; V. Podanie danych osobowych jest dobrowolne, lecz niezbędne dla prawidłowej realizacji Umowy.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; VI. Otrzymaliśmy dane osobowe bezpośrednio od Ciebie.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; VII. Dane osobowe w zakresie tokena autoryzacyjnego oraz danych firmowych i danych fakturowych nie są w żaden sposób gromadzne, przetwarzane, ani udostępniane osobom trzecim.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; VIII Dane osobowe w zakresie adresu IP, oraz związanych z nim danych lokalizacyjnych są gromadzone jedynie do celów statystycznych.
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; X. W przypadku niezgodnego z prawem przetwarzania danych osobie, kt&oacute;rej dane osobowe są przetwarzane przysługuje prawo wniesienia skargi do organu nadzorczego. Od dnia 25 maja 2018 r. organem nadzorczym uprawnionym do rozpatrzenia skargi jest Prezes Urzędu Ochrony Danych Osobowych.<br />
<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ciasteczka<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Używamy plik&oacute;w cookie, aby zidentyfikować Cię podczas odwiedzania naszej witryny, utrzymać Cię zalogowanego podczas poruszania się po naszej witrynie oraz przechowywać tymczasowe informacje podczas korzystania z aplikacji. Ten funkcjonalny plik cookie nie identyfikuje żadnej osoby i jest niezbędny do prawidłowego działania naszej witryny internetowej.</p>
