<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <h4> Privacy Policy - GDPR</h4><br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Pursuant to Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation), we inform you that:<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; I. The administrator of Emode's personal data is Eprog, registered in 05-502 Gołków, Gołkowska 87B. You can contact Emode at kontakt@emode.pl, including in relation to submitting any requests or rights arising from this information.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; II &nbsp; &nbsp; Personal data will be:<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1. &nbsp; &nbsp; processed for purposes related to the performance of the Agreement, supervision of its performance, proper settlement and pursuit of claims.<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2. stored for the period of performance of the Agreement, and then for the period resulting from acts regulating business settlements, the limitation of claims, and until the conclusion of civil, enforcement, administrative, and criminal proceedings requiring data processing. The longest of the specified periods is 5 years from the end of the financial year.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; III. The legal basis for the processing of personal data is Article 6 paragraph 1 letters b, c and f of Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation), where: Article Article 6 paragraph 1 letter b – data processing is necessary for the performance of the Agreement, Article 6 paragraph 1 letter c – processing is necessary to fulfill a legal obligation related to the settlement and storage of accounting and tax documentation, Article 6 paragraph 1 letter f – where the legitimate interest of the controller is the possibility of ongoing contact in matters related to the performance of the Agreement and protection against possible claims arising from the Agreement.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; IV. Categories of processed data: authorization token, company data, invoice data, IP address.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; V. Providing personal data is voluntary, but necessary for the proper performance of the Agreement.<br />
<br />
&nbsp; VI. We have received personal data directly from you.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; VII. Personal data regarding the authorization token, company data, and invoice data are not collected, processed, or made available to third parties in any way.<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; VIII. Personal data regarding the IP address and related location data are collected only for statistical purposes.
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; X. In the event of unlawful data processing, the data subject has the right to lodge a complaint with a supervisory authority. Since May 25, 2018, the supervisory authority authorized to consider a complaint is the President of the Personal Data Protection Office.<br />
<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cookies<br />
<br />
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; We use cookies to identify you when you visit our website, keep you logged in as you navigate our website, and store temporary information when you use the app. This functional cookie does not identify any individual and is necessary for the proper functioning of our website.</p>